

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="../static/css/main.css">
    
    <title>Airbnb Optimal Price Prediction</title>
  </head>
  <body class="is-preload">
    <article id="top" class="wrapper style1">
      <div class="container">
        <div class="row">
            <div class="col-8 col-7-large col-12-medium">
            
                <h1>Estimated Price: $ {{res[0]}}</h1>
              <br><br>
            </div>
            <div style="text-align:left;">
              <button class="btn" onclick="goBack()" style="width: 100px;margin-left: 100%;">Refresh</button>
              <script>
                function goBack() {
                  window.history.back();
                }
                </script>
            </div>
        </div>
    </div>
    </article>
 
  </body>
</html>

